$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: 'Red Hat Display' !important;
  font-weight: 500;
  background-color: $pale-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  img.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
  }
}

main {
  margin: 1rem;
  background-color: white;
  border-radius: 1rem;
  max-width: 400px;

  .img-wrapper img {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .content {
    padding: 2rem;
    text-align: center;

    .content-desc {
      h1 {
        font-weight: 900;
      }

      p {
        margin: 1rem;
        color: $desaturated-blue;
        line-height: 1.625;
      }
    }

    .content-price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $very-pale-blue;
      padding: 1.2rem 1rem;
      border-radius: 1rem;

      .price-desc {
        display: flex;
        align-items: center;
        gap: 1rem;
        line-height: 1.5;

        p {
          font-weight: 700;

          .price {
            font-weight: 500;
            color: $desaturated-blue;
          }
        }

        img {
          display: flex;
        }
      }

      .price-button a {
        color: $bright-blue;
        font-weight: 700;

        &:hover, &:active {
          color: hsl(245deg, 50%, 60%);
          text-decoration: none;
        }
      }
    }

    .content-button {
      margin-top: 1rem;
      display: grid;

      button {
        font-family: 'Red Hat Display';
      }
      
      .process {
        margin: 1rem 0 1.5rem;
        border: none;
        padding: 1rem;
        border-radius: 1rem;
        background-color: $bright-blue;
        color: white;
        font-weight: 700;
        letter-spacing: .5px;
        font-size: 1rem;
        box-shadow: 0 15px 15px $pale-blue;

        &:hover, &:active {
          background-color: hsl(245deg, 50%, 60%);
        }
      }

      .cancel {
        border: none;
        background-color: transparent;
        color: $desaturated-blue;
        font-size: 1rem;
        font-weight: 700;

        &:hover, &:active {
          color: $dark-blue;
        }
      }
    }
  }
}
