@import url("https://fonts.googleapis.com/css2?&family=Rubik:wght@300;400;500&display=swap");

$blue: hsl(246, 80%, 60%);
$light-red-work: hsl(15, 100%, 70%);
$soft-blue-play: hsl(195, 74%, 62%);
$light-red-study: hsl(348, 100%, 68%);
$lime-green-exercise: hsl(145, 58%, 55%);
$violet-social: hsl(264, 64%, 52%);
$soft-orange-self-care: hsl(43, 84%, 65%);
$very-dark-blue: hsl(226, 43%, 10%);
$dark-blue: hsl(235, 46%, 20%);
$desaturated-blue: hsl(235, 45%, 61%);
$pale-blue: hsl(236, 100%, 87%);

body {
  font-family: "Rubik";
  font-size: 18px;
  background-color: $very-dark-blue;
  color: white;
}

.author {
  margin: 2rem;
  background-color: $dark-blue;
  border-radius: 1rem;

  &__header {
    background-color: $blue;
    border-radius: 1rem;
    display: grid;
    column-gap: 0.5rem;
    grid-template-columns: 30% 70%;
    padding: 2rem;
    align-items: center;
    box-shadow: 0 5px 25px $very-dark-blue;

    img {
      width: 80%;
      border: 3px solid white;
      border-radius: 50%;
    }

    p {
      font-size: 1rem;
      margin: 0;
      font-weight: 300;
      color: $pale-blue;
    }

    h1 {
      font-size: 1.5rem;
      margin: 0.5rem 0 0;
      font-weight: 300;
    }
  }

  &__body {
    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 1.5rem 2rem;
      color: $pale-blue;
    }

    li {
      &.active {
        color: white;
      }
    }
  }
}
