@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

$cyan: hsl(179, 62%, 43%);
$bright-yellow: hsl(71, 73%, 54%);
$light-gray: hsl(204, 43%, 93%);
$grayish-blue: hsl(218, 22%, 67%);

%paragraph {
  color: $light-gray;
  opacity: 0.8;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Karla";
}

body {
  background-color: $light-gray;
  font-size: 16px;
  display: grid;
  grid-template-rows: 1.75fr 0.25fr;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

main {
  margin: 2rem;
  max-width: 350px;

  .content {
    background-color: white;
    border-radius: 0.25rem 0.25rem 0 0;
    padding: 2rem;

    h1 {
      font-weight: 700;
      font-size: 1.4rem;
      color: $cyan;
    }

    &--guarantee {
      color: $bright-yellow;
      font-weight: 700;
      font-size: 1rem;
      padding: 1.5rem 0;
    }

    &--desc {
      line-height: 1.625;
      font-size: 0.9rem;
      color: $grayish-blue;
    }
  }

  .price {
    background-color: $cyan;
    border-radius: 0 0 0.25rem 0.25rem;
    display: grid;

    h2 {
      font-weight: 700;
      font-size: 1.4rem;
      color: white;
    }

    &--subscription {
      padding: 2rem;
      display: grid;

      p:nth-child(2) {
        display: grid;
        grid-template-columns: 0.5fr 1.5fr;
        gap: 0.5rem;
        align-items: center;
        padding: 1.5rem 0 0.5rem;
      }

      &--desc {
        @extend %paragraph;
      }

      &--num {
        font-weight: 700;
        color: white;
        font-size: 2rem;
      }

      p:nth-child(3) {
        @extend %paragraph;
        margin-bottom: 2rem;
      }

      button {
        background-color: $bright-yellow;
        color: $light-gray;
        border-radius: 0.25rem;
        border: none;
        padding: 1rem;
        font-size: 1rem;
        font-weight: 700;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
      }
    }

    &--reasons {
      background-color: hsl(179deg, 62%, 47%);
      padding: 2rem;
      opacity: 0.8rem;

      ul {
        list-style-type: none;
        padding: 1.5rem 0 0;

        li {
          color: $light-gray;
          opacity: 0.8;
          padding: 0.25rem 0;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  main {
    max-width: 680px;
  }
  .price {
    grid-template-columns: repeat(2, 1fr);
  }
}
